body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.coloured-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: #fff;
}
/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}
/* Title Section */

#title .container-fluid {
  padding-top: 3%;
  text-align: left;
}
.title-image-box {
  position: relative;
  margin: 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 10%;
}

/* Navigation bar  */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 0px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

/* Features Section  */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

/* Font Awesome Colour */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials,
#press {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press section  */
#press {
  padding-bottom: 3%;
}

/* press logo */
.press-logo {
  width: 15%;
  margin: 20px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

/* Styling the pricing column */
.pricing-column {
  padding: 3% 2%;
}
.doge {
  font-size: 1.5rem;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */
/* footer elements styling */
.icon-footer {
  margin: 20px 10px;
}

/* Media Query for Screen Resizing */
@media (max-width: 1028px) {
  .title-image-box {
    position: static;
  }
  .title-image {
    transform: rotate(0);
    position: static;
  }
  #features {
    position: static;
  }
  #title {
    text-align: center;
  }
}
