/***********Tag Selectors***********/
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat-Black", sans-serif;
  font-weight: Bold;
  font-size: 1.5rem;
}
/***********Class Selectors***********/
.container-fluid {
  padding: 3% 15% 10%;
}

.title-image-box {
  position: relative;
  margin: 0;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 10%;
}

/* Navigation bar  */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 16px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.feature-box {
  padding: 5%;
}
/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Font Awesome Colour */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
/* Feature Blurb Text */
.feature-blurb {
  color: #8f8f8f;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press logo */
.press-logo {
  width: 15%;
  margin: 20px;
}

/* limiting padding to just the carousel items */
.carousel-item {
  padding: 7% 15%;
}

/* Styling the pricing column */
.pricing-column {
  padding: 3% 2%;
}

/* cta styling */
.cta-blurb {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* footer elements styling */
.icon-footer {
  margin: 20px 10px;
}
/***********ID Selectors***********/
/* Title section */
#title {
  background-color: #ff4c68;
  color: white;
}

/* Features Section  */
#features {
  padding: 7% 15% 2%;
  background-color: #fff;
  text-align: center;
  position: relative;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

/* Press section  */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

/* Call to Action (cta) section */
#cta {
  color: white;
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

/* Footer Section */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
/* Media Query for Screen Resizing */
@media (max-width: 1028px) {
  .title-image-box {
    position: static;
  }

  .title-image {
    transform: rotate(0);
    position: static;
  }

  #features {
    position: static;
  }

  #title {
    text-align: center;
  }
}
